.decrease-bet,
.increase-bet {
    text-wrap: nowrap;
    color: white;
    padding: 0.75rem 0.75rem;
    cursor: pointer;
    transition: background-color ease-in-out 200ms;
}

.decrease-bet:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: none;
}
.decrease-bet:nth-child(2) {
    border-left: none;
    border-right: none;
}

.increase-bet:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: none;
}
.increase-bet:nth-child(4) {
    border-left: none;
    border-right: none;
}

.decrease-bet {
    border: 2px solid rgba(223, 6, 6, 0.8);
    background-color: #e71f1fab;
}

.decrease-bet:hover {
    background-color: #ff0000cb;
}

.increase-bet {
    border: 2px solid rgba(44, 182, 9, 0.8);
    background-color: #6cd4167e;
}
.increase-bet:hover {
    background-color: #80ff18ab;
}

.bet-counter {
    display: flex;
}

.bet-input {
    width: 4rem;
}

input[type=number] {
    text-align: center;
    cursor: pointer;
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}